<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand mx-3">Navbar</a>
  <ul class="navbar-nav mr-auto d-flex justify-content-around flex-row ">
      <li class="nav-item active mx-2">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-link" href="/auth/login">login</a>
      </li>
     <li class="nav-item mx-2">
        <a class="nav-link" href="/auth/signup">Signup</a>
      </li>
     <li class="nav-item mx-2">
        <a class="nav-link" href="/movie">movie</a>
      </li>
    </ul>
  <form class="form-inline d-flex px-2">
    <input class="form-control mr-sm-2 mx-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-info my-2 mx-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>

<router-outlet></router-outlet>

